In [3]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
train=pd.read_csv('Dataset/loan_prediction/train.csv')

In [5]:
test=pd.read_csv('Dataset/loan_prediction/test.csv')

In [6]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [7]:
test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [8]:
train['Gender'].value_counts()

Male      489
Female    112
Name: Gender, dtype: int64

In [9]:
train['Gender']=train['Gender'].fillna('Male')

In [10]:
train['Gender'].value_counts()

Male      502
Female    112
Name: Gender, dtype: int64

In [11]:
test['Gender'].value_counts()

Male      286
Female     70
Name: Gender, dtype: int64

In [12]:
test['Gender']=test['Gender'].fillna('Male')

In [13]:
test['Gender'].value_counts()

Male      297
Female     70
Name: Gender, dtype: int64

In [14]:
train['Married'].value_counts()

Yes    398
No     213
Name: Married, dtype: int64

In [15]:
train.Married = train.Married.fillna('Yes')

In [16]:
train['Married'].value_counts()

Yes    401
No     213
Name: Married, dtype: int64

In [17]:
test['Married'].value_counts()

Yes    233
No     134
Name: Married, dtype: int64

In [18]:
test['Married']=test['Married'].fillna('Yes')

In [19]:
test['Married'].value_counts()

Yes    233
No     134
Name: Married, dtype: int64

In [20]:
train['Dependents'].value_counts()

0     345
1     102
2     101
3+     51
Name: Dependents, dtype: int64

In [21]:
train.Dependents = train.Dependents.fillna('0')

In [22]:
test['Dependents'].value_counts()

0     200
2      59
1      58
3+     40
Name: Dependents, dtype: int64

In [23]:
test.Dependents = test.Dependents.fillna('0')

In [24]:
train['Self_Employed'].value_counts()

No     500
Yes     82
Name: Self_Employed, dtype: int64

In [25]:
train.Self_Employed = train.Self_Employed.fillna('No')

In [26]:
test['Self_Employed'].value_counts()

No     307
Yes     37
Name: Self_Employed, dtype: int64

In [27]:
test.Self_Employed = test.Self_Employed.fillna('No')

In [28]:
train.LoanAmount = train.LoanAmount.fillna(train.LoanAmount.mean())

In [29]:
test.LoanAmount = test.LoanAmount.fillna(test.LoanAmount.mean())

In [30]:
train['Loan_Amount_Term'].value_counts()

360.0    512
180.0     44
480.0     15
300.0     13
84.0       4
240.0      4
120.0      3
36.0       2
60.0       2
12.0       1
Name: Loan_Amount_Term, dtype: int64

In [31]:
train.Loan_Amount_Term = train.Loan_Amount_Term.fillna(360.0)

In [32]:
test.Loan_Amount_Term = test.Loan_Amount_Term.fillna(360.0)

In [33]:
train['Credit_History'].value_counts()

1.0    475
0.0     89
Name: Credit_History, dtype: int64

In [34]:
train.Credit_History = train.Credit_History.fillna(1.0)

In [35]:
test['Credit_History'].value_counts()

1.0    279
0.0     59
Name: Credit_History, dtype: int64

In [36]:
test.Credit_History = test.Credit_History.fillna(1.0)

In [37]:
train.apply(lambda x: sum(x.isnull()),axis=0)

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [38]:
test.apply(lambda x: sum(x.isnull()),axis=0)

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [39]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,146.412162,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.000000,360.0,1.0,Urban,Y

In [40]:
test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,1.0,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [41]:
# Splitting traing data
X_train = train.iloc[:, 1: 12].values
y_train = train.iloc[:, -1:].values
print(X_train.shape)
print(y_train.shape)

(614, 11)
(614, 1)

In [42]:
X_test = test.iloc[:, 1:11].values
print(X_test)

[['Male' 'Yes' '0' ... 110.0 360.0 1.0]
 ['Male' 'Yes' '1' ... 126.0 360.0 1.0]
 ['Male' 'Yes' '2' ... 208.0 360.0 1.0]
 ...
 ['Male' 'No' '0' ... 126.0 360.0 1.0]
 ['Male' 'Yes' '0' ... 158.0 360.0 1.0]
 ['Male' 'No' '0' ... 98.0 180.0 1.0]]

In [43]:
X_train.shape

(614, 11)

In [44]:


from sklearn.preprocessing import OneHotEncoder
# Creating the One Hot Encoder 
oneHot = OneHotEncoder() 
  
# Encoding x_
oneHot.fit(X_train) 
x = oneHot.transform(X_train).toarray() 
print(x.shape)

  
# Encoding y_orig
y_train = y_train.reshape([-1,1])
oneHot.fit(y_train) 
y = oneHot.transform(y_train).toarray()
print(y.shape)

(614, 1023)
(614, 2)

In [45]:
oneHot.fit(X_test)
testx = oneHot.transform(X_test).toarray()
testx.shape

(367, 679)

In [46]:
testx
testx1=x[:12][:]
testy1=y[:12]
print(testx1.shape)

(12, 1023)

In [47]:
m,n=x.shape
print(m)
print(n)

614
1023

In [48]:
y.shape

(614, 2)

In [49]:
learning_rate = 0.01
training_epochs = 20

tf.reset_default_graph()

# By aving 2 features: hours slept & hours studied
X = tf.placeholder(tf.float32, [None, n], name="X")
Y = tf.placeholder(tf.float32, [None, 2], name="Y")

In [50]:
# Initialize our weigts & bias
W = tf.get_variable("W", [n, 2], initializer = tf.contrib.layers.xavier_initializer())
b = tf.get_variable("b", [2], initializer = tf.zeros_initializer())
print(W.shape)

(1023, 2)

In [51]:
Z = tf.add(tf.matmul(X, W), b)
prediction = tf.nn.sigmoid(Z)

In [52]:
cost = tf.reduce_mean(tf.nn.sigmoid_cross_entropy_with_logits(logits = Z, labels = Y))

In [53]:
optimizer = tf.train.AdamOptimizer(learning_rate).minimize(cost)

In [54]:
init = tf.global_variables_initializer()

cost_history = np.empty(shape=[1],dtype=float)

In [55]:
with tf.Session() as sess:
    sess.run(init)
    
    for epoch in range(training_epochs):
        _, c = sess.run([optimizer, cost], feed_dict={X: x, Y: y})
        print("Epoch:", '%04d' % (epoch+1), "cost=", "{:.9f}".format(c), \
               "W=", sess.run(W), "b=", sess.run(b))
        cost_history = np.append(cost_history, c)
        
        
    # Calculate the correct predictions
    correct_prediction = tf.to_float(tf.greater(prediction, 0.5))

    # Calculate accuracy on the test set
    accuracy = tf.reduce_mean(tf.to_float(tf.equal(Y, correct_prediction)))
    print ("Accuracy:", accuracy.eval({X:x, Y:y}))
    print ("test Accuracy:", accuracy.eval({X: testx1, Y:testy1}))

Epoch: 0001 cost= 0.668770790 W= [[ 0.04016516 -0.06084647]
 [-0.03545734  0.05765149]
 [-0.08085784  0.04932176]
 ...
 [-0.02705261  0.00587713]
 [-0.0095162   0.03137625]
 [-0.05150564  0.00041   ]] b= [-0.00999996  0.00999995]
Epoch: 0002 cost= 0.645463228 W= [[ 0.03024704 -0.05094766]
 [-0.04537928  0.06754992]
 [-0.09068535  0.05906432]
 ...
 [-0.03684549  0.01550762]
 [-0.01947293  0.04132359]
 [-0.06138912  0.01026536]] b= [-0.01992125  0.01989849]
Epoch: 0003 cost= 0.624908626 W= [[ 0.02048948 -0.04125212]
 [-0.05514948  0.07724476]
 [-0.10012956  0.06818885]
 ...
 [-0.04616163  0.02417225]
 [-0.02935073  0.05117397]
 [-0.07103223  0.01981223]] b= [-0.02968925  0.02959349]
Epoch: 0004 cost= 0.607044458 W= [[ 0.01099292 -0.03189351]
 [-0.06467521  0.0866028 ]
 [-0.10887172  0.07611638]
 ...
 [-0.05457625  0.03088277]
 [-0.03910911  0.06087661]
 [-0.08026417  0.02881645]] b= [-0.03920987  0.03895167]
Epoch: 0005 cost= 0.591702163 W= [[ 0.00187941 -0.02303548]
 [-0.07384461  0.09546022]
 [-0.11647704  0.08210129]
 ...
 [-0.06150969  0.03459845]
 [-0.04870373  0.07037582]
 [-0.08886255  0.03696911]] b= [-0.04836949  0.04780922]
Epoch: 0006 cost= 0.578594804 W= [[-0.00671155 -0.01486077]
 [-0.08253023  0.10363176]
 [-0.12245061  0.08552358]
 ...
 [-0.06635735  0.03500374]
 [-0.05808819  0.07961407]
 [-0.09656094  0.04391222]] b= [-0.05703856  0.05598137]
Epoch: 0007 cost= 0.567335486 W= [[-0.01463219 -0.00755029]
 [-0.09059627  0.11092937]
 [-0.12637904  0.08623294]
 ...
 [-0.06874356  0.03261096]
 [-0.06721626  0.08853607]
 [-0.10307653  0.04930696]] b= [-0.06507922  0.06328138]
Epoch: 0008 cost= 0.557492018 W= [[-0.02174007 -0.00125741]
 [-0.09790918  0.11718691]
 [-0.1280833   0.08453698]
 ...
 [-0.06868099  0.02815499]
 [-0.07604414  0.09709294]
 [-0.10815754  0.05292311]] b= [-0.07235632  0.06954548]
Epoch: 0009 cost= 0.548639536 W= [[-0.02791403  0.00391441]
 [-0.10435038  0.12228391]
 [-0.12765436  0.08091917]
 ...
 [-0.06647775  0.02222749]
 [-0.08453296  0.10524592]
 [-0.11163557  0.05469594]] b= [-0.07875079  0.07465635]
Epoch: 0010 cost= 0.540402532 W= [[-0.03306806  0.00792334]
 [-0.10982833  0.1261605 ]
 [-0.12535816  0.0758293 ]
 ...
 [-0.06253861  0.01523552]
 [-0.09265097  0.11296885]
 [-0.11345672  0.05471577]] b= [-0.08417197  0.07855744]
Epoch: 0011 cost= 0.532478988 W= [[-0.03715943  0.01078817]
 [-0.11428704  0.12881921]
 [-0.1215142   0.06962033]
 ...
 [-0.05723606  0.00745311]
 [-0.10037518  0.12024935]
 [-0.11367673  0.05317091]] b= [-0.08856611  0.08125421]
Epoch: 0012 cost= 0.524650693 W= [[-0.0401898   0.01257779]
 [-0.11770923  0.13031581]
 [-0.11642072  0.06255598]
 ...
 [-0.05086992 -0.0009295 ]
 [-0.10769232  0.12708884]
 [-0.1124291   0.05028725]] b= [-0.09191921  0.08280472]
Epoch: 0013 cost= 0.516779661 W= [[-0.04220014  0.01339684]
 [-0.12011416  0.13074443]
 [-0.11032845  0.05483436]
 ...
 [-0.04367077 -0.00977318]
 [-0.11459929  0.13350174]
 [-0.10988669  0.04628853]] b= [-0.09425437  0.08330481]
Epoch: 0014 cost= 0.508798540 W= [[-0.04326223  0.01337224]
 [-0.12155163  0.1302226 ]
 [-0.10344032  0.04660939]
 ...
 [-0.03581568 -0.01896965]
 [-0.12110272  0.13951388]
 [-0.10623185  0.0413783 ]] b= [-0.09562533  0.08287344]
Epoch: 0015 cost= 0.500696242 W= [[-0.04346946  0.01264307]
 [-0.12209433  0.12887949]
 [-0.09592005  0.03800633]
 ...
 [-0.02744347 -0.02842921]
 [-0.12721835  0.14516069]
 [-0.10163897  0.03573565]] b= [-0.09610849  0.08164124]
Epoch: 0016 cost= 0.492501915 W= [[-0.04292888  0.01135414]
 [-0.12183038  0.12684792]
 [-0.08790204  0.02913252]
 ...
 [-0.01866667 -0.03807302]
 [-0.13296989  0.15048516]
 [-0.09626712  0.02951738]] b= [-0.09579539  0.07974282]
Epoch: 0017 cost= 0.484271169 W= [[-0.04175523  0.00965233]
 [-0.12085706  0.12425981]
 [-0.0794998   0.02008472]
 ...
 [-0.00958009 -0.0478282 ]
 [-0.1383878   0.15553577]
 [-0.09025861  0.02286235]] b= [-0.09478641  0.07731236]
Epoch: 0018 cost= 0.476072639 W= [[-0.04006695  0.00768479]
 [-0.11927622  0.12124382]
 [-0.07081246  0.01095396]
 ...
 [-0.00026691 -0.05762468]
 [-0.14350794  0.16036448]
 [-0.08374053  0.01589599]] b= [-0.09318632  0.07448142]
Epoch: 0019 cost= 0.467977971 W= [[-0.03798383  0.00559762]
 [-0.11719105  0.11792429]
 [-0.06192965  0.00182862]
 ...
 [ 0.00919721 -0.06739339]
 [-0.14837019  0.16502471]
 [-0.07682736  0.00873391]] b= [-0.09110116  0.07137783]
Epoch: 0020 cost= 0.460053980 W= [[-0.03562555  0.00353435]
 [-0.11470411  0.1144205 ]
 [-0.05293491 -0.00720385]
 ...
 [ 0.01874115 -0.07706541]
 [-0.15301706  0.16956943]
 [-0.06962357  0.00148449]] b= [-0.08863635  0.06812491]
Accuracy: 0.740228
test Accuracy: 0.75